doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title My Page
    link(rel='stylesheet', href='css/style.css')
  body
    div.banner
      h1 
        a(href='/') MyChatGPT
    div.content
      div.history !{response}
    div.footer
      button#clear-button New chat 
      form(action="/" method="POST")
        textarea.prompt(name='prompt', id='prompt', rows='1', placeholder='Your request...')
        button.submit(type='submit')
    script(type='text/javascript', src='js/functions.js')
    script.
      const clearButton = document.querySelector('#clear-button');
      clearButton.addEventListener('click', () => {
        fetch('/clear', { method: 'POST' })
          .then(response => response.text())
          .catch(error => console.error(error));
      });