doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title PurrfectAI | Answers, purr-sonalized for you
    link(rel='stylesheet', href='css/style.css')
  body
    div.header
      a(href='/') 
        img(src="/img/header-logo.png", alt="PurrfectAI | Answers, purr-sonalized for you")
      h1 
        a(href='/') PurrfectAI 
    div.content
      div.chat !{content}
    div.footer
      form(action="/" method="POST")
        button#download.download
        button#clear.clear  
        textarea.prompt(name='prompt', id='prompt', rows='1', autofocus, placeholder='Your request...')
        button.submit(type='submit')

    script(type='text/javascript', src='js/functions.js')
    script.
      document.getElementById("prompt").focus();
