:root {
    --background-color: rgb(186, 186, 186);
    --primary-color: rgb(46, 104, 210);
    --secondary-color: rgb(245, 194, 66);
  }

  @font-face {
    font-family: 'monserrat';
    src: url('../img/Montserrat-Regular.ttf') format('truetype'); 
}

  body {
    margin: auto;
    padding: 0;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--background-color);
	color: white;
	text-align: left;
}

.header img {
    padding: 1em;
    display: inline-block;
    vertical-align: middle;
  }

.header h1 {
    display: inline-block;
    vertical-align: middle;
     padding: 0 1em 0 0;
    font-size: 1.5em;
    font-family: 'monserrat', Arial, Helvetica, sans-serif;
}

.header h1 a {
    color: white;
    text-decoration: none;
}

.content {
    background-color: white;
    font-family: 'monserrat', Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    padding: 1.0em;
    padding-top: 7.0em;
    padding-bottom: 4.0em;
    line-height: 1.4em;
    overflow-y: scroll;
}

.question {
    max-width: 70%;
    min-width: 8.0em;
    background-color: var(--secondary-color);
    border-radius: 1.5em;
    padding: 0.5em;
    margin-bottom: 1.0em;
}

.answer {
    max-width: 70%;
    min-width: 8.0em;
    background-color: #EEE;
    border-radius: 1.5em;
    padding: 0.5em;
    margin-bottom: 1.0em;
    margin-left: 30%;
}

pre code {
    font-family: monospace;
    font-size: 1.0em;
    background-color: #ddd;
    padding: 1em;
    border-radius: 1.0em;
    display: block;
    white-space: pre-wrap;
  }

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

form {
    width: 100%;
    display: inline-block;
}

.prompt {
    flex: 1;
    font-family: 'monserrat', Arial, Helvetica, sans-serif;
    border: 2px solid var(--primary-color);
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0;
    width: calc(100% - 170px);
    background-color: white;
    box-sizing: border-box;
    font-size: 1.0em;
    color: gray;
    display: inline-block;
    overflow: hidden;
    resize: none;
    vertical-align: baseline;
}

button {
    margin-bottom: 10px;
    padding: 0.5em 1em;
    padding-top: 45px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: baseline;
  }

.download {
    width: 40px;
    margin-left: 12px;
    margin-right: 12px;
    background-image: url("../img/download.png");
}

.clear {
    width: 30px;
    margin-right: 12px;
    background-image: url("../img/clear.png");
}

.submit {
    width: 30px;
    margin-left: 12px;
    background-image: url("../img/arrow.png");
}
